---
environments:
  - Development
  - Staging
  - Production

natrium_variables:
  environmentSlug:
    Development: DEV
    Staging: STAGING
    Production: PRODUCTION

variables:
  apiBaseUrl:
    Development: https://parti.test/
    Staging: https://dev.parti.xyz/
    Production: https://parti.xyz/
  apiBaseUrlRegex:
    Development: ^https:\\/\\/(.*\\.)?parti\\.test(\\$|\\/)
    Staging: ^https:\\/\\/(.*\\.)?dev.parti\\.xyz(\\$|\\/)
    Production: ^https:\\/\\/(.*\\.)?parti\\.xyz(\\$|\\/)

files:
  PartiApp/Info.plist: PartiApp/natrium.files/Info-#{environmentSlug}.plist
  PartiApp/GoogleService-Info.plist: PartiApp/natrium.files/GoogleService-Info-#{environmentSlug}.plist
