---
environments:
  - Development
  - Staging
  - Production

natrium_variables:
  environmentSlug:
    Development: DEV
    Staging: STAGING
    Production: PRODUCTION

variables:
  apiBaseUrl:
    Development: https://parti.test/
    Staging: https://dev.parti.xyz/
    Production: https://parti.xyz/
  apiBaseUrlRegex:
    Development: ^https:\\/\\/(.*\\.)?parti\\.test(\\$|\\/)
    Staging: ^https:\\/\\/(.*\\.)?dev.parti\\.xyz(\\$|\\/)
    Production: ^https:\\/\\/(.*\\.)?parti\\.xyz(\\$|\\/)
  authGoogleClientId:
    Development: xxx.apps.googleusercontent.com
    Staging: xxx.apps.googleusercontent.com
    Production: xxx.apps.googleusercontent.com
  authGoogleServerClientId:
    Development: xxx.apps.googleusercontent.com
    Staging: xxx.apps.googleusercontent.com
    Production: xxx.apps.googleusercontent.com
  authFacebookAppId:
    Development: "xxx"
    Staging: "xxx"
    Production: "xxx"

plists:
  "PartiApp/Info.plist":
    CFBundleDisplayName:
      Development: 빠띠-개발
      Staging: 빠띠-테스트
      Production: 빠띠
    CFBundleShortVersionString: "0.0.2"
    CFBundleVersion: "1"
    "CFBundleURLTypes:0:CFBundleURLSchemes:0": com.googleusercontent.apps.xxx
    "CFBundleURLTypes:0:CFBundleURLSchemes:1": xxx
    "Fabric:APIKey": xxx

files:
  PartiApp/GoogleService-Info.plist: PartiApp/natrium.files/GoogleService-Info-#{environmentSlug}.plist
